.App {
  font-family: sans-serif;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* background-color: #fff;
border: 1px solid rgba(0, 40, 100, 0.12);
border-radius: 3px; */

.noSelection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.title {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subTitle {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contentContainer {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

/* Button controls */
.controls {
  margin: 10px 0px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls > .optionButton {
  background-color: #f0f0f0;
  margin: 5px;
  padding: 15px;
  color: #555555;
}

body {
  background: #f5f7fb; /* -webkit-linear-gradient(left, #0072ff, #00c6ff); */
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}

.contact-form form {
  padding: 14%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

/* table styles */
.itemContainer {
  display: flex;
  flex-wrap: wrap;
}

.itemRow,
.itemDetails {
  text-align: left;
  margin: 6px;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.detailsControls {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: flex-end;
  justify-items: flex-end;
  justify-content: flex-end;
  /* justify-content: left; */
}

.detailsButton {
  margin: 6px;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
}

.primaryButton {
  background-color: #467fcf;
  border-color: #467fcf;
}

.dangerButton {
  border-color: #cd201f;
  background-color: #cd201f;
}

.itemRow {
  width: 250px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4px;
}

.valueLabel {
  color: #495057;
}

.value {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #6e7687;
}

/* add form */

.AddForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FormComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.FormComponent p {
  margin: 6px 0px;
}

.AddFormControls {
  margin: 10px;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}
